/**
 * Custom styling for the module.
 *
 * @package mod_tupf
 */

.tupf-word {
    position: relative;
}

.tupf-word.selectable:hover {
    cursor: pointer;
}

.tupf-word.mark {
    z-index: 0;
    padding: 0;
    background: none;
}

.tupf-word.mark::after {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + .18em);
    height: calc(100% + .18em);
    content: '';
    border-radius: 3px;
}

.tupf-word.mark.selectable,
.tupf-word.mark.high {
    color: white;
}

.tupf-word.mark.low,
.tupf-word.mark.medium {
    color: black;
}

.tupf-word.mark.selectable::after {
    background: black;
}

.tupf-word.mark.low::after {
    background: #ffe600;
}

.tupf-word.mark.medium::after {
    background: #ff9a16;
}

.tupf-word.mark.high::after {
    background: #f00000;
}

.tupf-flashcard-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    color: black;
}

.tupf-flashcard-container:hover {
    cursor: pointer;
}

.tupf-flashcard-container,
.tupf-flashcard-front,
.tupf-flashcard-back {
    width: 220px;
    height: 135px;
    border-radius: 12px;
}

.tupf-flashcard-inner {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.tupf-flashcard-front,
.tupf-flashcard-back {
    backface-visibility: hidden;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.tupf-flashcard-front {
    z-index: 2;
    transform: rotateY(0deg);
    background: #eaecee;
}

.tupf-flashcard-back {
    transform: rotateY(-180deg);
    background: #ebeef3;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.tupf-animate-from-left {
    animation: .3s ease-in-out 0s 1 slideInFromLeft;
}

.tupf-animate-from-right {
    animation: .3s ease-in-out 0s 1 slideInFromRight;
}

@media (min-width: 576px) {
    .tupf-animate-from-left {
        animation: .45s ease-in-out 0s 1 slideInFromLeft;
    }

    .tupf-animate-from-right {
        animation: .45s ease-in-out 0s 1 slideInFromRight;
    }
}