/**
 * Custom styling for the module.
 *
 * @package mod_tupf
 */

.tupf-word {
    position: relative;
}

.tupf-word.selectable:hover {
    cursor: pointer;
}

.tupf-word.mark {
    padding: 0;
    border-radius: 3px;
}

.tupf-word.mark:not(.selectable) {
    padding: 1.5px;
}

.tupf-word.mark.selectable,
.tupf-word.mark.high {
    color: white;
}

.tupf-word.mark.selectable {
    background: #007bff;
}

.tupf-word.mark.low {
    background: #fce943;
}

.tupf-word.mark.medium {
    background: #ffc107;
}

.tupf-word.mark.high {
    background: #dc3545;
}

.tupf-flashcard-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    color: black;
}

.tupf-flashcard-container:hover {
    cursor: pointer;
}

.tupf-flashcard-container,
.tupf-flashcard-front,
.tupf-flashcard-back {
    width: 220px;
    height: 135px;
    border-radius: 12px;
}

.tupf-flashcard-inner {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.tupf-flashcard-front,
.tupf-flashcard-back {
    backface-visibility: hidden;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.tupf-flashcard-front {
    z-index: 2;
    transform: rotateY(0deg);
    background: #eaecee;
}

.tupf-flashcard-back {
    transform: rotateY(-180deg);
    background: #ebeef3;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-30vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(30vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.tupf-animate-from-left {
    animation: .3s ease-out 0s 1 slideInFromLeft;
}

.tupf-animate-from-right {
    animation: .3s ease-out 0s 1 slideInFromRight;
}