/**
 * Custom styling for the module.
 *
 * @package mod_tupf
 */

.tupf-word {
    position: relative;
}

.tupf-word:hover {
    cursor: pointer;
}

.tupf-word.mark {
    z-index: 0;
    padding: 0;
    color: white;
    background: none;
}

.tupf-word.mark::after {
    z-index: -1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + .18em);
    height: calc(100% + .18em);
    content: '';
    background: black;
    border-radius: 3px;
}

.tupf-flashcard-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    color: black;
}

.tupf-flashcard-container:hover {
    cursor: pointer;
}

.tupf-flashcard-container,
.tupf-flashcard-front,
.tupf-flashcard-back {
    width: 220px;
    height: 135px;
    border-radius: 12px;
}

.tupf-flashcard-inner {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
}

.tupf-flashcard-front,
.tupf-flashcard-back {
    backface-visibility: hidden;
    transition: 0.8s;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
}

.tupf-flashcard-front {
    z-index: 2;
    transform: rotateY(0deg);
    background: #eaecee;
}

.tupf-flashcard-back {
    transform: rotateY(-180deg);
    background: #ebeef3;
}